.card-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.business-card {
  background-color: #f8f8f8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 1000px;
  height: 600px;
}

.business-logo {
  width: 220px;
  height: 100px;
  margin-right: 20px;
}

.business-info {
  display: flex;
  align-items: center;
}
.business-info h3 {
  margin-top: 0;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  color: #f1c40f;
}

.rating {
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.business-name {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.business-address {
  margin-bottom: 5px;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
}

.business-phone,
.business-website {
  margin-bottom: 5px;
}

.info-icon {
  position: relative;
  margin-left: 5px;
  bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}

.tooltip {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  width: 200px;
  height: 120px;
}

.info-icon:hover .tooltip {
  display: block;
}

.address-container {
  margin-left: 9px;
}
.icons-con{
  display: flex;

}

.np-icons{
  color: #1e895a;
  font-size: 17px;
  font-family: "Bitter", serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 10px;
}
.icon-text{
  color: black !important;
}


.custom-button {
  background-color:#1664cf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 35%;
  height: 55%;
  top: 15px;
  cursor: pointer;
  margin-left: 550px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.custom-button:hover {
  background-color: #0056b3;
}

.business-details {
  margin-top: 20px;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  font-size: 15px;
}

.check-mark{
  color:#3ac37c;
  margin-right: 5px;
}

.services-offered p {
  background-color: #f4f4f4;
  padding-right: 8px;
  font-size: 19px;
}

.services-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  font-size: 18px;
}

.experience-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.experience-text {
  position: relative;
}

.experience-text-box {
  background-color: #f6f1f1;
  padding: 2px 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.author-name {
  position: absolute;
  top: 35px;
  right: 0;
}

.see-more {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  position: relative;
}

.accordion-content {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  width: 200px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  transition: all 0.3s ease;
}

.see-more.open .accordion-content {
  display: block;
}

.see-custom-button {
  background-color: #f6f1f1;
  color: #626262;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: regular;
}

.info-square{
  text-decoration: none;
}
.info-site{
  text-decoration: none !important;
  color: inherit;
  margin-left: 15px;
}

.arrow-down {
  margin-left: 5px;
  color: #0097fd;
}

.sortBy-option{
  margin-left: 35px;
}

.filter-options {
  display: flex;
}

.sortBy-option{
  margin-right: 4px;
}

.filter-services {
  margin-right: 4px;

}

.filter-header,
.sort-by-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  border: 1px solid #ccc !important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.filter-header .arrow-icon {
  transition: transform 0.3s ease;
  padding-left: 5px;
  font-size: 20px;
  color: #0097fd;
}

.filter-select {
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.filter-select .react-select__control {
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

.filter-select .react-select__menu {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filter-header:last-child {
  margin-right: 0;
}

.options-container {
  position: absolute;
  top: 110px;
  right: 125px;
  display: flex;
}

.card-list {
  margin-top: 180px;
}

